{% extends 'base.html' %}

{% block title %}
User Registeration
{% endblock %}

{% block content %}
<div class="wrapper">
    <div class="content-wrapper">

    <!-- Main content -->
        <section class="content">
            <div class="container-fluid mt-5">

                <div class="com-md-12 d-flex flex-row justify-content-center">
                    <div class="col-lg-4 col-md-5 col-sm-6">
                    {% if form.errors %}
                        {% for field in form %}
                            {% for error in field.errors %}
                                <div class="alert alert-danger col-md-5 col-lg-4 col-sm-6 alert-dismissable">
                                    <a href="#" class="close" data-dismiss='alert' aria-label='close'>&times;</a>
                                    <strong>{{ error|escape }}</strong>
                                </div>
                            {% endfor %}
                            {% for error in form.non_field_errors %}
                                <div class="alert alert-danger alert-dismissable">
                                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                    <strong>{{ error|escape }}</strong>
                                </div>
                            {% endfor %}
                        {% endfor %}
                    {% endif %}
                    </div>
                </div>

                <div class="col-md-12 d-flex flex-row justify-content-center">  
                    <div class="col-lg-5 col-md-6 col-sm-10 col-12 new_entry_form p-1 pb-5">
                        <div class="col-md-12 my-5">
                            <h3 class="text-center text-uppercase">Register</h3>
                        </div>
                        <form method="post" action="" class="col-md-12">
                            {% csrf_token %}

                    
                            <div >
                                <div class="form-group reg-form-group">
                                    <div class="col-lg-3 col-md-3 col-sm-4 col-4 m-0 p-0 ml-md-4 ml-sm-0">
                                        <label for="name" class=" col-form-label">*First Name :</label>
                                    </div>
                                    <div class="col-lg-8 col-md-8 col-sm-8 col-8 m-0 ml-2 p-0">
                                        <input type="text" name="first_name" class="form-control" id="first_name" />
                                    </div>
                                </div>
                                <div class="form-group reg-form-group">
                                    <div class="col-lg-3 col-md-3 col-sm-4 col-4 m-0 p-0 ml-md-4 ml-sm-0">
                                        <label for="name" class=" col-form-label">Last Name :</label>
                                    </div>
                                    <div class="col-lg-8 col-md-8 col-sm-8 col-8 m-0 ml-2 p-0">
                                        <input type="text" name="last_name" class="form-control" id="last_name" />
                                    </div>
                                </div>
                                <div class="form-group reg-form-group">
                                    <div class="col-lg-3 col-md-3 col-sm-4 col-4 m-0 p-0 ml-md-4 ml-sm-0">
                                        <label for="email" class=" col-form-label">*Email Address :</label>
                                    </div>
                                    <div class="col-lg-8 col-md-8 col-sm-8 col-8 m-0 ml-2 p-0">
                                        <input type="email" name="email" class="form-control" id="email" />
                                    </div>
                                </div>

                                <div class="form-group reg-form-group">
                                    <div class="col-lg-3 col-md-3 col-sm-4 col-4 m-0 p-0 ml-md-4 ml-sm-0">
                                        <label for="password" class="col-form-label">*Password :</label>
                                    </div>
                                    <div class="col-lg-8 col-md-8 col-sm-8 col-8 m-0 ml-2 p-0">
                                        <input type="password" name="password1"  class="form-control" id="password1" />
                                    </div>
                                </div>
                                <div class="form-group reg-form-group">
                                    <div class="col-lg-3 col-md-3 col-sm-4 col-4 m-0 p-0 ml-md-4 ml-sm-0">
                                        <label for="password" class="col-form-label">Confirm Password :</label>
                                    </div>
                                    <div class="col-lg-8 col-md-8 col-sm-8 col-8 m-0 ml-2 p-0">
                                        <input type="password" name="password2" class="form-control" id="password2" />
                                    </div>
                                </div>
                                <div class="form-group reg-form-group">
                                    <div class="col-lg-3 col-md-3 col-sm-4 col-4 m-0 p-0 ml-md-4 ml-sm-0">
                                        <label for="phone" class=" col-form-label">Phone Number :</label>
                                    </div>
                                    <div class="col-lg-8 col-md-8 col-sm-8 col-8 m-0 ml-2 p-0">
                                        <input type="phone" name="phone" class="form-control" id="phone" />
                                    </div>
                                </div>
                                
                            </div>  
                            <div class="form-row text-center">
                                <div class="col-12">
                                    <div class="">
                                        
                                        <button type="submit" class="btn btn-success">Save</button>
                                    </div> 
                                </div>  <!--/.col -->
                            </div> 
                        
                        </form>

                    </div> 
                </div> 
                
            </div>  <!-- /.container-fluid -->
        </section>   <!-- /.content -->
    </div>   <!-- /.content-wrapper -->
</div>
{% endblock %}