{% extends 'user_base.html' %}
{% block title %}
    EDIT savingS
{% endblock %}

{% block content %}



<div class="create_data_from_div content-wrapper" id="savings-form-block">
    <!-- Content Header (Page header) -->
    <div class="page-wrapper p-t-100 p-b-100 font-robo">
      <div class="wrapper wrapper--w680">
          <div class="card card-1">
              <div class="card-body">
                <!-- <div class="col-lg-12 col-md-12 col-12 justify-content-end p-0">
                  <a class="btn btn-standard text-dark py-1 px-5 float-right col-lg-4 col-md-4" onclick="show_saving_list()">My saving List</a>
                </div> -->
                  <h3 class="title">EDIT SAVINGS</h3>
                  <form method="POST">
                    {% csrf_token %}

                    <div id="new-entry-block" class="p-3">
                      <p class="font-weight-bold">Please input new saving related information</p>
                      <div class="input-group">
                        <p>Ex: Bank savings</p>
                          <input class="input--style-1" type="text" placeholder="{{ this_saving_related_data.short_info }}" value="{{ this_saving_related_data.short_info }}" name="short_info">
                      </div>
                      <!-- <div class="input-group">
                        <p>Ex: Monthly Savings</p>
                        <input class="input--style-1" type="text" placeholder="{{ this_saving_related_data.short_description }}" name="short_description">
                      </div>
                      <div class="input-group">
                        <p>Ex: From Office</p>
                        <input class="input--style-1" type="text" placeholder="{{ this_saving_related_data.saving_source }}" name="saving_source">
                      </div> -->
                    </div>

                    <div id="entry-saving-amount" class="p-3">
                      <br>
                      <p class="font-weight-bold">Please enter your saving amount and date</p>
                      <br>
                      <div class="input-group">
                        
                        <input class="input--style-1" type="text" placeholder="{{ this_saving_data.amount }}" value="{{ this_saving_data.amount }}" name="amount" required>
                      </div>
                      <div class="input-group">
                        
                        <input class="input--style-1" type="text" placeholder="{{ this_saving_data.description }}" value="{{ this_saving_data.description }}" name="description">
                      </div>
                      
                      <div class="input-group">
                        
                          <input id="datepicker" class="input--style-1" type="text" onclick="(this.type='date')" onfocus="(this.type='date')" placeholder="{{ this_saving_data.saving_date }}" name="saving_date" required>
                      </div>
                      <div class="p-t-20">
                          <button class="btn btn--radius" type="submit">Submit</button>
                      </div>
                    </div>
                  </form>
              </div>
          </div>
      </div>
  </div>
</div>
{% endblock %}