{% extends 'user_base.html' %}
{% load static %}
{% block title %}
    MANAGE SAVINGS
{% endblock %}

{% block content %}


<div class="list_table_filter_div content-wrapper" id="saving-table-block"  style="display: block;">
    <!-- Content Header (Page header) -->
   
  
    <!-- Main content -->
    <section class="content">
        <div class="">
            <div class="col-12">
                <div class="">
                  <div class="col-md-12 bg-light-gray d-flex flex-row justify-content-center mt-3">
                    <div class="col-md-12 p-2 m-1 filter_block shadow justify-content-center">
                      <h4 class="m-2 filter_block_heading">
                        My Wallets
                      </h4>
                      <div class="all_wallet_list">
                        {% for wallet in all_my_wallet %}
                          <div class="single_wallet">
                            <img src="{% static 'images/wallets_img/' %}{{ wallet.wallet_info.image }}" alt="{{ wallet.wallet_info.name }}">
                            <!-- <h5>{{ wallet.wallet_name }}</h5> -->
                          </div>
                        {% endfor %}
                      </div>
                      
                      <button class="btn btn-outline-light add_new_wallet_btn" onclick="show_add_new_wallet_from()"><img src="{% static 'images/plus.svg' %}"></button>

                      <div >
                        <form method="POST" id="new_wallet_form" style="display: none;" >
                          {% csrf_token %}
                          <div id="new-entry-block" class="p-3" style="display:block">
                            <p class="font-weight-bold">+ New Wallet</p>
                            <div class="input-group">
                              
                                <input class="input--style-1" type="text" placeholder="Wallet Name" name="wallet_name" required>
                            </div>
                            <div class="input-group">
                              <div class="select-input">
                                <select class="input--style-1 col-sm-12 col-12" type="text" placeholder="Select Wallet" name="wallet_info">
                                  {% for wallet in pre_wallet %}
                                    <option class="input-option col-sm-12 col-12" value="{{ wallet.id }}">{{ wallet.name }}</option>
                                  {% endfor %}
                                </select>
                              </div>
                            </div>
                            
                            <div class="input-group">
                              <input class="input--style-1" type="text" placeholder="Wallet Number(optional)" name="wallet_number">
                            </div>
                            <div class="input-group">
                              <input class="input--style-1" type="text" placeholder="Current balance into this wallet" name="wallet_status" required>
                            </div>
                          </div>
                          <div class="p-t-20">
                            <button class="btn btn--radius" type="submit">Submit</button>
                          </div>
                        </form>
                      </div>

                      <div class="tranfer-block">
                        
                      </div>

                    </div>
                    
                  </div>
                    <div class="col-md-12 bg-light-gray d-flex flex-row justify-content-center mt-3">
                      <div class="col-md-12 p-2 m-1 filter_block shadow justify-content-center">
                          <h4 class="m-2 filter_block_heading">
                              Transfer Balance
                          </h4>
                        <form class="col-md-12  search_form" method="POST" action="{% url 'savings:transfer_balance' %}" id="patientFilterForm">
                          {% csrf_token %}
                          <div class="row justify-content-center  search-section">
                            <div class="col-lg-4 col-md-4 pr-lg-2 pl-lg-0 pr-md-0 pl-md-2 col-12 m-0 p-0 pb-2" style="display: inline-block;">
                              <label class="filter_parameter_lable">Transfer From </label>
                              <select class="input--style-1 " type="text" placeholder="Wallet" name="transfer_from">
                                
                                <option class="input-option col-sm-12 col-12" value="">Select Wallet</option>
                                {% for wallet in all_my_wallet %}
                                  <option class="input-option col-sm-12 col-12" value="{{ wallet.id }}">{{ wallet.wallet_name }}</option>
                                {% endfor %}
                              </select>
                          </div>

                          
                            <div class="col-lg-4 col-md-4 pr-lg-0 pl-lg-0 pr-md-0 pl-md-0 col-12 m-0 p-0 pb-2" style="display: inline-block;">
                              <label class="filter_parameter_lable">Transfer To </label>
                              <select class="input--style-1 " type="text" placeholder="Wallet" name="transfer_to">
                                
                                <option class="input-option col-sm-12 col-12" value="">Select Wallet</option>
                                {% for wallet in all_my_wallet %}
                                  <option class="input-option col-sm-12 col-12" value="{{ wallet.id }}">{{ wallet.wallet_name }}</option>
                                {% endfor %}
                              </select>
                          </div>

                          <div class="col-lg-4 col-md-4 pr-lg-0 pl-lg-2 pr-md-0 pl-md-2 col-12 m-0 p-0 pb-2" style="display: inline-block;">
                            <label class="filter_parameter_lable">Amount</label>
                            <input class="input--style-1" type="number" placeholder="Amount to transfer" name="amount">
                        </div>
                          
                            
                          </div>
                          
                         
                          <div class="form-row text-center" >
                              <div class="col-12 mt-2">
                                  <button class="btn btn-outline-dark text-dark col-md-4 col-lg-4  search_btn">Transfer</button>
                              </div>
                              
                          </div>
                            
                        </form>
  
                      </div>
                      
                  </div>
  
                    <div class="row-flex">
  
                          <div class="row col-md-12 p-0 m-0 d-flex flex-row justify-content-center">

                            <h4 class="m-2 filter_block_heading mt-4">
                                My <span class="" style="color: #318045;">{{ current_month }}</span> Savingings
                            </h4>
                            <!-- <div class="row col-lg-12 col-md-12 col-12">
                              <a class="btn btn-standard text-dark py-1 px-5 float-right col-lg-4 col-md-4" onclick="show_saving_entry_form()">+add new saving</a>
                            </div> -->
                              <div class="row col-md-12 p-0 m-0 d-flex flex-row justify-content-center" >
                                  
                                  <!-- Search form -->
                                  <!-- <div class="active-cyan-4 mb-4">
                                  <input class="form-control" type="text" placeholder="Search" aria-label="Search">
                                  </div> -->
                                  <div class="col-lg-12 col-md-12 col-sm-12 col-12 justify-content-center" style="overflow-x:auto;">
                                      <table id="client_list" class="table table-hover col-auto col-md-12 table-responsive mt-1 table-striped">
                                          <thead>
                                              <tr>
                                                  <th>S.N.</th>
                                                  
                                                  <th>Wallet</th>
                                                  <th>Balance</th>
                                                  <th>Actions</th>
                                              </tr>
                                          </thead>
          
                                          <tbody>
                                            {% for wallet in all_my_wallet %}  
                                              <tr>
                                                <td>{{ forloop.counter }}</td>
                                                
                                                <td class="wallet_name_view{{ wallet.id }}"><p class="wallet_name_p{{ wallet.id }}" style="display:inline-block;">{{ wallet.wallet_name }}</p>
                                                <form class="wallet_edit wallet_name_edit_form_{{ wallet.id }}" style="display: none;" method="POST" action="{% url 'savings:edit_wallet_name' id=wallet.id %}">
                                                  {% csrf_token %}
                                                  <input class="" type="text" name="wallet_name_edit" placeholder="{{ wallet.wallet_name }}">
                                                  <button class="btn btn-outline-dark text-dark">Edit</button>
                                                </form>
                                                <button class="wallet_name_edit_icon_{{ wallet.id }} py-0 px-2" style="display:inline-block;" type="button" onclick="show_wallet_name_edit_form({{wallet.id}})"><img style="width: 17px;" src="{% static 'images/edit-solid.svg' %}"></button>
                                                </td>
                                                <td class="wallet_balance_view{{ wallet.id }}"><p class="wallet_balance_p{{ wallet.id }}" style="display:inline-block;">{{ wallet.wallet_status }}</p>
                                                  <form class="wallet_edit wallet_balance_edit_form_{{ wallet.id }}" style="display: none;" method="POST" action="{% url 'savings:edit_wallet_amount' id=wallet.id %}">
                                                    {% csrf_token %}
                                                    <input class="" type="text" name="wallet_balance_edit" placeholder="{{ wallet.wallet_status }}">
                                                    <button class="btn btn-outline-dark text-dark">Edit</button>
                                                  </form>
                                                  <button class="wallet_amount_edit_icon_{{ wallet.id }} py-0 px-2" style="display:inline-block;" type="button" onclick="show_wallet_amount_edit_form({{wallet.id}})"><img style="width: 17px;" src="{% static 'images/edit-solid.svg' %}"></button>
                                                </td> 
                                                
                                                <td  class="edit_dlt_icon_class">
                                                
                                                  <a id="del_options{{saving.id}}" class=" py-0" type="button" onclick="showDelConfirmButtons('{{ saving.id }}')"><img src="{% static 'images/trash-solid.svg' %}"></a>
                                                    <div id="del{{saving.id}}" style="display: none;">
                                                        <a class="btn btn-primary py-0 px-2" href="{% url 'savings:delete_wallet' id=wallet.id %}">Yes</a>
                                                        <button class="btn btn-danger py-0 px-2" onclick="cancelDelChange('{{ saving.id }}')">No</button>
                                                    </div>
                                                </td>
                                              </tr>
                                            {% endfor %}
                                          </tbody>
                                      </table>
                                      
                                  </div>
                                  <!-- <div class="col-lg-12 col-md-12 col-sm-12 col-12 prev_next_month_block">
                                    <div class="btn btn-outline-light prev_month_block"><a href="{% url 'savings:search_savings' %}?date_from={{ prev_month_first_date }}&date_to={{ prev_month_last_date }}"><img src="{% static 'images/left.svg' %}"> Month</a></div>
                                    <div class="btn btn-outline-light next_month_block"><a href="{% url 'savings:search_savings' %}?date_from={{ next_month_first_date }}&date_to={{ next_month_last_date }}">Month <img src="{% static 'images/right.svg' %}"></a></div>
                                  </div> -->
                                  {% include 'pagination.html' %}
                                
                          
                          </div>  
                </div> 
            </div>  <!-- /.col -->
        </div>  <!-- /.row -->
    </section>  <!-- /.content -->
  </div>  <!-- /.content-wrapper -->

  <div class="create_data_from_div content-wrapper" id="saving-form-block" style="display: none;">
    <!-- Content Header (Page header) -->
    <div class="page-wrapper p-t-100 p-b-100 font-robo">
      <div class="wrapper wrapper--w680">
          <div class="card card-1">
              <div class="card-body">
                <div class="col-lg-12 col-md-12 col-12 justify-content-end p-0">
                  <a class="btn btn-standard text-dark py-1 px-5 float-right col-lg-4 col-md-4" onclick="show_saving_list()">My saving List</a>
                </div>
                  <h4 class="title font-weight-bold">+ New savings</h4>
                  <form method="POST">
                    {% csrf_token %}

                    <!-- <div id="new-entry-block" class="p-3" style="display:none">
                      <p class="font-weight-bold">Please input new saving related information</p>
                      <div class="input-group">
                        <p>Ex: Bank Saving</p>
                          <input class="input--style-1" type="text" placeholder="SAVINGS TITLE" name="short_info">
                      </div>
                      <div class="input-group">
                        <p>Ex: Saving from Salary</p>
                        <input class="input--style-1" type="text" placeholder="SHORT DESCRIPTION" name="short_description">
                      </div>
                      <div class="input-group">
                        <p>Ex: Into Bank</p>
                        <input class="input--style-1" type="text" placeholder="SAVINGS INTO" name="saving_where">
                      </div>
                    </div> -->



                    <!-- <div id="select-details-block" class="p-3">
                      <p class="font-weight-bold">Please select saving related information from previous</p>
                      <div><a class="btn btn-standard text-dark p-0 px-2 float-right" onclick="show_new_details_entry()">add new saving details</a></div>
                      <div class="input-group">
                        <div class="select-input">
                          <select class="input--style-1 col-sm-12 col-12" type="text" placeholder="saving TITLE" name="select_short_info">
                            
                            <option class="input-option col-sm-12 col-12" value="">select saving title</option>
                            {% for saving_related in all_saving_related %}
                              <option class="input-option col-sm-12 col-12" value="{{ saving_related.id }}">{{ saving_related.short_info }}</option>
                            {% endfor %}
                          </select>
                        </div>
                      </div>
                      <div class="input-group">
                        <div class="select-input">
                          <select class="input--style-1 col-sm-12 col-12" type="text" placeholder="SHORT DESCRIPTION" name="select_short_description">
                            <option class="input-option col-sm-12 col-12">select saving details</option>
                            {% for saving_related in all_saving_related %}
                              <option class="input-option col-sm-12 col-12" value="{{ saving_related.short_description }}">{{ saving_related.short_description }}</option>
                            {% endfor %}
                          </select>
                        </div>
                      </div>
                      <div class="input-group">
                        <div class="select-input">
                          <select class="input--style-1 col-sm-12 col-12" type="text" placeholder="saving FIELD" name="select_saving_field">
                            <option class="input-option col-sm-12 col-12">select saving field</option>
                            {% for saving_related in all_saving_related %}
                              <option class="input-option col-sm-12 col-12" value="{{ saving_related.saving_field }}">{{ saving_related.saving_field }}</option>
                            {% endfor %}
                          </select>
                        </div>
                      </div>
                    </div> -->



                    <div id="entry-saving-amount" class="p-4">
                      <br>
                      <p class="font-weight-bold">New savings information</p>
                      <br>
                      <div class="input-group">
                        <div class="select-input">
                          <select class="input--style-1 col-sm-12 col-12" type="text" placeholder="Wallet" name="wallet">
                            
                            <option class="input-option col-sm-12 col-12" value="">select wallet</option>
                            {% for wallet in all_my_wallet %}
                              <option class="input-option col-sm-12 col-12" value="{{ wallet.id }}">{{ wallet.wallet_name }}</option>
                            {% endfor %}
                          </select>
                        </div>
                      </div>
                      <div class="input-group">
                        
                        <input class="input--style-1" type="text" placeholder="amount" name="amount" required>
                      </div>
                      <!-- <div class="input-group">
                        <p>Ex: Description Is Optional</p>
                        <input class="input--style-1" type="text" placeholder="DESCRIPTION" name="description">
                      </div> -->
                      
                      <div class="input-group">
                        
                          <input class="input--style-1" type="date" placeholder="date" name="saving_date" required>
                      </div>
                      <div class="p-t-20">
                          <button class="btn btn--radius" type="submit">Submit</button>
                      </div>
                    </div>
                  </form>
              </div>
          </div>
      </div>
  </div>
  
    <!-- Main content -->
    <section class="content">

    </section>
  </div>
  
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script>
      const showDelConfirmButtons = (id) => {
        console.log(id)
        $('#del_options'+id).hide(); // hide the buttons
        $("#del"+id).css("display", "block"); // view the buttons
    
      }

      const cancelDelChange = (id) => {
      console.log(id)
      $('#del'+id).hide(); // hide the buttons
      $("#del_options"+id).css("display", "block"); // view the checkbox
    }

    const show_new_details_entry = () =>{
      $('#select-details-block').hide(); // hide the buttons
      $('#new-entry-block').css("display", "block"); // hide the buttons
    }

    const show_saving_entry_form = () =>{
      $('#saving-table-block').css("display", "none"); // hide the buttons
      $('#saving-form-block').css("display", "block"); // hide the buttons
    }

    const show_saving_list = () =>{
      $('#saving-form-block').css("display", "none"); // hide the buttons
      $('#saving-table-block').css("display", "block");; // hide the buttons
      
    }

    const show_add_new_wallet_from = () => {
      $('#new_wallet_form').css("display", "block"); // hide the buttons
      // $('#saving-table-block').css("display", "block");; // hide the buttons
    }

    const show_wallet_name_edit_form = (id) =>{
      console.log('ada')
      $('.wallet_name_p'+id).css("display", 'none');
      $('.wallet_name_edit_icon_'+id).css("display", 'none')
      $('.wallet_name_edit_form_'+id).css("display", 'block');
    }
    const show_wallet_amount_edit_form = (id) =>{
      console.log('ada')
      $('.wallet_balance_p'+id).css("display", 'none');
      $('.wallet_amount_edit_icon_'+id).css("display", 'none')
      $('.wallet_balance_edit_form_'+id).css("display", 'block');
    }

  </script>

{% endblock %}