html, body{
    height: 100%;
    font-family: ;
}
.body-main-content{
    height: max-content;
    max-width: 1200px;
    margin: auto;
    min-height: 100%
}
.navbar{
    background-color: #1f4c3d;
    padding-right: 10%!important;
    padding-left: 10%!important;
    /* height: 34px; */
}

.second-navebar{
    background-color: rgb(241, 241, 241);
    padding-right: 13%!important;
    padding-left: 13%!important;
    height: 71px;
}

.second-nav-item{
    background-color: rgb(255, 0, 0, .7);
}

.shop-second-nav-item{
    background-color: rgb(255, 255, 255);
    margin-right: 30px;
    margin-left: 0px;
    margin-top: 3px;
    height: 33px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}
.shop-second-nav-item:after{
    content: '';
    display: block;
    margin: 0px auto 1px;
    height: 0px;
    width: 100%;
    border-bottom: solid 2px rgb(255, 36, 36, 81%);
    opacity: 1;
    text-align: center;
}
.shop-second-nav-item a{
    font-family: sans-serif;
    font-weight: bold;
    font-size: 12px;
    color: rgb(24, 24, 24)!important;
    text-transform: uppercase;
}
.second-navebar-nav a{
    letter-spacing: 3px;
    text-decoration: none;
    color: rgb(255, 242, 242);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
}
.custom-dropdown-menu{
    left: 13%;
    border-radius: 0px;
    margin-top: -1px;
    margin-left: -1px;
    width: 310px;
    height: 400px;
    border: 0px;
    overflow: auto;
}

/* width */
::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(150, 150, 150); 
  }

.custom-dropdown-menu a{
    color: darkgray;
    font-weight: normal;
    padding: 20px;
    padding-top: 2px;
    padding-bottom: 2px;
    letter-spacing: 1px;
    color: rgb(70, 70, 70);
    
}
.footer-block{
    position:absolute;
    width:100%;
    height:60px;   /* Height of the footer */
    background:#6cf;
}
.reg-form-group label{
    font-size: 13px!important;
}
.login_link{
    color: rgb(255, 255, 255);
    background-color: rgb(30 121 62);
    padding: 3px;
    padding-left: 25px!important;
    padding-right: 25px!important;
    margin-bottom: 5px;
    margin-top: 0px;
    font-family: Helvetica, sans-serif;
    border-radius: 2px;
}
.carousel-inner{
    max-height: 399px;
    display: flex;
    justify-content: center;
    text-align: center;
}
.carousel-item{
    text-align: center;
}
.carousel{
    padding-left: 13%;
    padding-right: 13%;
    background-color: rgb(175, 116, 116);
}
.center {
    width: 100%;
    display: block;
    margin: 0 auto;
}
.login_link:hover{
    color: rgb(55, 55, 55)!important;
    background-color: rgb(255, 255, 255)!important;
    text-decoration: none;
    transition: 0.7s;
}

.top-search-bar{
    padding: 10px;
    background-color: rgba(222, 222, 222, 0.0);
    border-radius: 0px;
    top: 2px;
    left: 170px
}

.top-search-field{
    background-color: rgba(255, 255, 255, 0.9);
    border: solid 3px #ef7e7e!important;
}

#carouselExampleIndicators{
    position:relative;
}

div.top-search {
    position: absolute;
    z-index: 9999999;
    top: -12px;
    left: 15px;
    right: auto;
    bottom: auto;
}


.top-search-button{
    border: solid 2px rgb(255, 0, 0, .7)!important;
}

.top-search-button:hover{
    background-color: rgb(255, 0, 0, .7)!important;
}

.top-search-button i:hover{
    background-color: rgba(255, 161, 161, 0.7)!important;
    color: rgb(255, 255, 255)!important;
}

.product-search-heading h4{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 26px;
    letter-spacing: 4px;
    color: #2f2f2f;
}

.product-search-heading::after{
    content: '';
    display: block;
    margin: 7px auto 14px;
    height: 2px;
    width: 140px;
    border-bottom: solid 3px rgb(255, 0, 0, .7);
    opacity: 1;
    text-align: center;
}

input{
    width: 100px;
}
label{
    font-weight: bold;
}
.page_heading{
    text-align: left;
    font-family: "Montserrat", Helvetica, Arial, sans-serif;
    font-weight: 700;
    font-size: x-large;
    text-transform: uppercase;
    line-height: 1.2;
    color: #555;
    letter-spacing: 0.07em;

}

.page_heading:after{
    content: "";
    color: cornflowerblue;
    width: 20px;
    text-decoration: underline;
}
.new_entry_form{
    background-color: rgb(255, 255, 255);
    border-radius: 40px;
}

.new_entry_form label {
    color:#395858!important;
    font-weight: normal;
    font-family: sans-serif;
}
.form-content{
    padding-top: 3%;
    box-shadow: 200px;
    border-radius: 24px;
}

.form-content
{
    padding: 2%;
    border: 1px solid #ced4da;
    margin-bottom: 2%;
    border-radius: 20px;
}
.form-control{
    border-radius: 5px;
}
.form-group{
    display: flex;
    margin-bottom: 10px!important;
    text-transform: capitalize;
}


.col-form-label{
    display: contents;
    font-family: sans-serif;
    font-size: medium;
}

.new_entry_form{
    background-color: rgba(255, 255, 255, 0.555);
    border-radius: 45px 4px 45px 4px;
}
.new_entry_form label {
    color:#395858!important;
    font-weight: bold;
    font-family: sans-serif;
}

.content_heading{
    text-align: center;
    font-family: "Montserrat", Helvetica, Arial, sans-serif;
    font-weight: 700;
    font-size: x-large;
    text-transform: uppercase;
    line-height: 1.2;
    color: #555;
    letter-spacing: 0.07em;
}

.login .login-form,
.login .register-form {
    padding: 30px;
    background: #633a3a;
    margin-bottom: 30px;
}

#login .container #login-row #login-column #login-box {
    margin-top: -4px;
    max-width: 600px;
    height: 370px;
    background-color: rgba(22, 21, 21, 0.555);
    border-radius: 28px;
    }
    #login .container #login-row #login-column #login-box #login-form {
    padding: 20px;
    }
    #login .container #login-row #login-column #login-box #login-form #register-link {
    margin-top: -85px;
    }

.custom-checkbox {
    margin-bottom: 15px;
}
.custom-radio .custom-control-label::before,
.custom-checkbox .custom-control-label::before {
    background: #dddddd;
    border-color: #dddddd;
}

.custom-radio .custom-control-input:checked~.custom-control-label::before,
.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    color: #ffffff;
    background: #FF6F61;
    border-color: #FF6F61;
    box-shadow: none;
}

.btn {
    color: #2c2c2c;
    background: #ffffff;
    border: 1px solid #346a37;
}
.form-control,
.custom-select {
    width: 100%;
    height: 35px;
    padding: 0 15px;
    color: #999999;
    border: 1px solid #dddddd;
    margin-bottom: 15px
}

/* all products.............. */

.breadcrumb-wrap {
    position: relative;
    width: 100%;
}

.breadcrumb-wrap .breadcrumb {
    margin: 0;
    padding: 0;
    background: transparent;
}




/**********************************/
/******** Product View CSS ********/
/**********************************/

/* custom table ****************/

th{
    font-family: Calibri;
    font-weight: lighter;
    font-size: 13px;
    text-transform: uppercase;
    text-align: center;
    
    /* border: solid 1px #ffffff; */
}
td{
    font-family: Calibri, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0..7em;
    color:rgb(63, 70, 79);
    text-align: center;
    /* border: solid 1px  #ffffff; */
}

table {
    width: 100% !important;
    display: table!important;
  }


thead{
    min-width: 100% !important;
    /* border: solid 1px #ffffff; */
    background-color: #107561;
}

table{
    border-collapse: collapse!important;
    border-radius: 5px!important;
    overflow: hidden!important;
    }

.table th{
    
    margin: 0px;
    padding: 3px;
    padding-left: 10px!important;
    color: rgb(7, 7, 7);
}

.table td{
    
    margin: 0px;
    padding: 3px;
    padding-left: 10px!important;
    
}

.table-striped>tbody>tr:nth-child(odd)>td, 
.table-striped>tbody>tr:nth-child(odd)>th {
   background-color: #f4fbff;
 }

tbody{
    min-width: 100% !important;
    /* border: solid 1px  #ffffff; */
}


/* custom table ****************/

.custom-table{
    width: 100%!important;
    display: table!important;
}

.search_form_shop_account_input{
    margin: 3px 10px 3px 5px;
    padding-left: 5px!important;
    padding-right: 5px!important;
    width: 30%!important;
    display: inline-block!important;
    font-size: small!important;
}

.search_form_shop_account_label{
    padding: 10px 10px 3px 0px;
    width: max-content!important;
    display: inline-block!important;
}

.product-search_form_shop_account_label{
    margin: 3px 10px 3px 5px;
    padding-left: 5px!important;
    padding-right: 5px!important;
    width: 70%!important;
    display: inline-block!important;
    font-size: small!important;
}

.product_quantity_input{
    display: inline;
    width: 43px;
}

.product-type-brand{
    padding-right: 13%!important;
    padding-left: 13%!important;
    
}

.product-type-list-add, .product-brand-list-add{
    padding: 30px 00px 30px 0px;
    margin: 0px 3% 0px 3%;
    width: 44%;
}

.product-type-list-add-inner,  .product-brand-list-add-inner{

    width: 100%;
    padding-top: 30px;
}

.product-brand-list, .product-type-list{
    display: inline-block;
}
.product-view {
    position: relative;
    width: 100%;
    padding: 0px 0px!important;
    background-color: #ffffff;
}


.product-view .product-search {
    position: relative;
    width: 100%;
}

.product-view .product-search input, .product-view .product-search select {
    width: 100%;
    height: 40px;
    padding: 0 15px;
    color: #313131;
    background: transparent;
    border: 1px solid #d5a0a0;
    border-radius: 4px;
    transition: all .3s;
    background-color: #ffe2e2;
    font-weight: 500;
    font-size: large;
    letter-spacing: 1px;
}


.product-view .product-search input:focus {
    border-color: #FF6F61;
}

.product-view .product-search button {
    position: absolute;
    width: 35px;
    height: 36px;
    top: 2px;
    right: 2px;
    text-align: center;
    background: transparent;
    color: #353535;
    border: none;
    border-radius: 0 4px 4px 0;
    transition: all .3s;
}

.product-view .product-search button i {
    font-size: 19px;
    height: 24px;
    color: brown;
    width: 22px;
}

.product-view .product-search button:hover {
    background: #FF6F61;
    color: #ffffff;
}

.product-view .product-short,
.product-view .product-price-range {
    position: relative;
    width: 100%;
    text-align: right;
}

.product-view .product-short .dropdown .dropdown-toggle,
.product-view .product-price-range .dropdown .dropdown-toggle {
    display: block;
    width: 100%;
    height: 35px;
    padding: 5px 10px;
    background: transparent;
    border: 1px solid #353535;
    text-align: left;
    border-radius: 4px;
    cursor: pointer;
    transition: all .3s;
}

.product-view .product-short .dropdown .dropdown-toggle:hover,
.product-view .product-price-range .dropdown .dropdown-toggle:hover {
    color: #FF6F61;
    border-color: #FF6F61;
}

.product-view .product-short .dropdown .dropdown-toggle::after,
.product-view .product-price-range .dropdown .dropdown-toggle::after {
    float: right;
    margin-top: 10px;
}

.product-view .product-short .dropdown-menu,
.product-view .product-price-range .dropdown-menu {
    margin: -1px 0 0 0;
    border-radius: 0;
}

.product-view .product-item {
    margin-bottom: 14px;
}

.product-view .pagination {
    margin: 0;
}

.product-view .pagination .page-item .page-link {
    color: #353535;
    background: transparent;
    border-color: #353535;
}

.product-view .pagination .page-item:hover .page-link,
.product-view .pagination .page-item.active .page-link {
    color: #FF6F61;
    background: #000000;
}

@media (max-width: 991.98px) {
    .product-view .pagination {
        margin-bottom: 30px;
    }
}


/**********************************/
/******* Product Detail CSS *******/
/**********************************/


/**********************************/
/*********** Feature CSS **********/
/**********************************/
.feature {
    position: relative;
}

.feature .feature-col {
    margin-bottom: 30px;
}

.feature .feature-content {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 30px 15px;
    text-align: center;
    background: #ffffff;
}

.feature .feature-content i {
    color: #FF6F61;
    font-size: 60px;
    margin-bottom: 30px;
}

.feature .feature-content h2 {
    font-size: 18px;
}

.feature .feature-content p {
    font-size: 15px;
    margin: 0;
}


/**********************************/
/******** Product Item CSS ********/
/**********************************/
.product-item {
    position: relative;
}

.product-item .product-title {
    padding: 0px!important;
    text-align: center;
    background: #ffffff;
    transition: all .3s;
}

.product-item:hover .product-title {
    background: #ffffff;
}

.product-item .product-title a, .product-item .product-title .product-type,
.product-item .product-title .ratting {
    position: relative;
    width: 100%;
}

.product-item .product-title p{
    margin-bottom: 0px ;
    color: rgb(97, 97, 97);
    font-weight: bold;
    text-transform: uppercase;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

.product-item .product-title a {
    margin-bottom: 5px;
    color: #1c1c1c;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}

.product-item .product-title .ratting i {
    font-size: 14px;
    color: #FF6F61;
}

.product-item .product-content .price span {
    margin-left: 12px;
    text-decoration: line-through;
    font-weight: 700;
    color: #999999;
}

.product-item:hover .product-title a,
.product-item:hover .product-title .ratting i {
    color: #383838;
}

.product-item:hover .product-content .price span {
    color: #dddddd;
}

.product-item .product-image {
    position: relative;
    overflow: hidden;
}

.product-image:after{
    content: '';
    display: block;
    margin: 0px auto 14px;
    height: 1px;
    width: 83%;
    border-bottom: solid 2px rgba(226, 93, 93, 0.809);
    opacity: 1;
    text-align: center;
}

.product-item .product-image a {
    display: block;
    background: #ffffff;
    transition: .3s;
}

.product-item .product-image img {
    width: 80%; 
    transition: all .3s;
}

.product-item:hover .product-image img {
    transform: scale(1.2);
}

.product-item .product-image .product-action {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(255, 111, 97, .5);
    transition: all .3s;
    font-size: 0;
    z-index: 1;
    opacity: 0;
}

.product-item:hover .product-image .product-action {
    opacity: 1; 
}

.product-item .product-image .product-action a {
    display: inline-block;
    width: 40px;
    height: 40px;
    margin-right: 5px;
    padding: 7px 0 10px 0;
    font-size: 16px;
    text-align: center;
    color: #ffffff;
    background: #808080;
    border: 1px solid #ffffff;
    border-radius: 4px;
    transition: all .3s;
    margin-top: 50px;
}

.product-item:hover .product-image .product-action a {
    margin-top: 0;
}

.product-item .product-image .product-action a:last-child {
    margin-right: 0;
}

.product-item .product-image .product-action a:hover {
    color: #ffffff;
    background: #929292;
    border: 1px solid #346a37;
}
.product-list-image{
    text-align: center;
}
.product-item .product-price {
    padding: 0px 25px 0px 25px!important;
    background: #ffffff;
    transition: all .3s;
}

.product-price a{
    padding: 1px 10px 1px 10px;
}
.product-price a:hover{
    color: rgb(34, 34, 34);
}

.product-item:hover .product-price {
    background: #f5f5f5;
}

.product-item .product-price p {
    display: inline-block;
    color: #2b2b2b;
    margin: 0;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 16px;
}

.product-item .product-price h3 span {
    font-size: 16px;
}

.product-item .product-price .btn {
    float: right;
    
    color: #000000;
    background: #ffffff00;
}

.product-item:hover .product-price .btn,
.product-item .product-price .btn:hover {
    color: #303030;
    background-color: #ffffff;
}

.product-item .product-price .btn i {
    margin-right: 5px;
}


/**********************************/
/******** Featured Product ********/
/**********************************/
.featured-product {
    position: relative;
    padding: 30px 0;
}

.recent-product {
    position: relative;
    padding: 30px 0;
}

.product .section-header {
    margin-bottom: 30px;
    padding: 20px 30px 15px 30px;
    color: #c4c4c4;
    background: #ffffff;
}

.product .slick-prev,
.product .slick-next {
    top: -75px;
    width: 30px;
    height: 30px;
    z-index: 1;
    transition: .5s;
    color: #FF6F61;
    background: #ffffff;
    border: 1px solid #346a37;
    border-radius: 4px;
}

.product .slick-prev {
    left: calc(100% - 120px);
}

.product .slick-next {
    right: 45px;
}

.product .slick-prev:hover,
.product .slick-prev:focus,
.product .slick-next:hover,
.product .slick-next:focus {
    background: #aeaeae;
}

.product .slick-prev::before,
.product .slick-next::before {
    font-family: "Font Awesome 5 Free";
    font-size: 18px;
    font-weight: 900;
    color: #636363;
}

.product .slick-prev::before {
    content: "\f104";
}

.product .slick-next::before {
    content: "\f105";
}

.product .slick-prev:hover::before,
.product .slick-prev:focus::before,
.product .slick-next:hover::before,
.product .slick-next:focus::before {
    color: #ffffff;
}

.product-add-section{
    padding: 2% 4% 2% 4%;
    background-color: rgba(255, 186, 186, 14%);
    border-radius: 5px;
    
}

.product-add-section label{
    padding-top: 7px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    color: #9e7171;
    min-width: 35%;
    text-transform: uppercase;
    letter-spacing: 1px
}

.product-add-section select, .product-add-section input{
    border: none;
    border-bottom: solid 1px #ff8787;
    border-radius: 0px;
    background-color: rgba(255, 255, 255, 0);
}

/**********************************/
/******** Product View CSS ********/
/**********************************/
.table td{
    padding: 10px!important;
    border-top: none!important;
}

.table thead{
    border: solid 1px #346a37!important;
    background-color: #bce0be;
}

.product-list-table{
    padding-left: 13%!important;
    padding-right: 13%!important;
    width: 100%;
    display: block;
}

.product-view {
    position: relative;
    width: 100%;
    padding: 30px 0;
}

.product-view .product-view-top {
    padding: 15px;
    margin-bottom: 12px;
    background: #ffffff00;
}

.product-view .product-search {
    position: relative;
    width: 100%;
}


.product-view .product-short,
.product-view .product-price-range {
    position: relative;
    width: 100%;
    text-align: right;
}

.product-view .product-short .dropdown .dropdown-toggle,
.product-view .product-price-range .dropdown .dropdown-toggle {
    display: block;
    width: 100%;
    height: 35px;
    padding: 5px 10px;
    background: transparent;
    border: 1px solid #353535;
    text-align: left;
    border-radius: 4px;
    cursor: pointer;
    transition: all .3s;
}

.product-view .product-short .dropdown .dropdown-toggle:hover,
.product-view .product-price-range .dropdown .dropdown-toggle:hover {
    color: #fcfcfc;
    border-color: #FF6F61;
}

.product-view .product-short .dropdown .dropdown-toggle::after,
.product-view .product-price-range .dropdown .dropdown-toggle::after {
    float: right;
    margin-top: 10px;
}

.product-view .product-short .dropdown-menu,
.product-view .product-price-range .dropdown-menu {
    margin: -1px 0 0 0;
    border-radius: 0;
}


.product-view .pagination {
    margin: 0;
}

.product-view .pagination .page-item .page-link {
    color: #353535;
    background: transparent;
    border-color: #353535;
}

.product-view .pagination .page-item:hover .page-link,
.product-view .pagination .page-item.active .page-link {
    color: #FF6F61;
    background: #000000;
}

@media (max-width: 991.98px) {
    .product-view .pagination {
        margin-bottom: 30px;
    }
}
.product-list-section{
    padding-right: 13%!important;
    padding-left: 13%!important;
}

.all_product_section{
    background-color: #ffffff;
    margin: 0px;
    padding: 0px;
}

.product-item{
    border-radius: 10px;
    border: solid 0px rgb(240, 240, 240);
}

.each-product-into-list{
    border-radius: 5px;
}



/* New for sombay */

.filter_block_heading{
    text-align: center;
    font-family: "Montserrat", Helvetica, Arial, sans-serif;
    font-weight: 700;
    font-size: small;
    text-transform: uppercase;
    line-height: 1.2;
    color: #555;
    letter-spacing: 0.07em;
    margin-top: 2px;
    padding-top: 0px!important;
    
}
.filter_block_heading::after{
    content: '';
    display: block;
    margin: 7px auto 21px;
    height: 2px;
    width: 100px;
    border-bottom: solid 2px #1f4c3d;;
    opacity: 1;
    text-align: center;
}

.filter_parameter_lable{
    font-family: inherit;
    font-size: medium;
    font-weight:bold;
    color: rgb(46, 101, 143);
    display: inline-block;
    width: fit-content;
}

.filter_parameter_input{
    
    height: 35px;
    width: 60%;
    border: solid 1px #ced5dc;
    border-radius: 6px;
    font-family: inherit;
    font-size: 16px;
    color: rgb(44, 53, 58);
    display: inline-block;
}

table th{
    font-weight: bold;
}

.content_heading{
    text-align: center;
    font-family: "Montserrat", Helvetica, Arial, sans-serif;
    font-weight: 700;
    font-size: x-large;
    text-transform: uppercase;
    line-height: 0.8;
    color: rgb(85, 85, 85);
    letter-spacing: 0.1em;
    margin-bottom: 0px!important;
}
.content_heading::after{
    content: '';
    display: block;
    margin: 20px auto 10px;
    height: 2px;
    width: 100px;
    border-bottom: solid 3px #7a829c;
    opacity: 1;
    text-align: center;
    margin-bottom: 0px!important;
}

.form-content{
    padding: 2%;
    border: 1px solid #ced4da;
    margin-bottom: 2%;
    border-radius: 20px;
}

.home_body{
    background-size:cover;
    background-repeat: no-repeat;
    background-position: top;
    background-attachment: fixed;

}

.home-content{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    
    -ms-transform: translateY(-50%) translateX(-50%);
    transform: translateY(-50%) translateX(-50%);
    background-color: #35b7df5f;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 50px;
    padding-right: 50px;
}

.welcome-text{
    color: rgb(67, 67, 67);
    font-family: 'Courier New', Courier, monospace;
}

.company-text{
    color: rgb(133 16 16);
    font-family: monospace;
}
.radio-input{
    margin-left: 15px;
    width: max-content;
}
.select-input{
    width: 100%;
}
.select-input select{
    border: none;
}
.input-option{
    width: 100%;
}
#new-entry-block{
    background-color: #f0e8d1;
    border-radius: 20px;

}
#new-entry-block .input-group{
    border-bottom: 1px solid #707070!important;
    
}
#new-entry-block .input-group input{
    background-color: #f0e8d1;
}
#select-details-block{
    background-color:#d1f0d7;
    border-radius: 20px;
}
#entry-cost-amount .input-group .input--style-1, #entry-income-amount .input-group .input--style-1, #entry-saving-amount .input-group .input--style-1{
    background-color: #d0e0f1;
}
#entry-cost-amount , #entry-income-amount, #entry-saving-amount{
    background-color:#d0e0f1;
    border-radius: 20px;
}
#entry-cost-amount .input-group, #entry-income-amount .input-group, #entry-saving-amount .input-group{
    border-bottom: 1px solid #707070!important;
    margin-bottom: 8px;
}
.filter_parameter_block{
    margin-left: 5%!important;
}

@media screen and (max-width: 480px) {
    table th {
       font-size: 14px!important;
    }
    table td {
        font-size: 12px!important;
     }
    .filter_block_heading{
        font-size: small;
    }
    .filter_parameter_lable{
        font-size: small;
    }
  }

/* For forms -------------------------------------------------------------------*/


/* ==========================================================================
#FONT
========================================================================== */
.font-robo {
font-family: "Roboto", "Arial", "Helvetica Neue", sans-serif;
}

/* ==========================================================================
#GRID
========================================================================== */
.row {
display: -webkit-box;
display: -webkit-flex;
display: -moz-box;
display: -ms-flexbox;
display: flex;
-webkit-flex-wrap: wrap;
-ms-flex-wrap: wrap;
flex-wrap: wrap;
}

.row-space {
-webkit-box-pack: justify;
-webkit-justify-content: space-between;
-moz-box-pack: justify;
-ms-flex-pack: justify;
justify-content: space-between;
}

.col-2 {
width: -webkit-calc((100% - 60px) / 2);
width: -moz-calc((100% - 60px) / 2);
width: calc((100% - 60px) / 2);
}

@media (max-width: 767px) {
.col-2 {
width: 100%;
}
}

/* ==========================================================================
#BOX-SIZING
========================================================================== */
/**
* More sensible default box-sizing:
* css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice
*/
html {
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
}

* {
padding: 0;
margin: 0;
}

*, *:before, *:after {
-webkit-box-sizing: inherit;
-moz-box-sizing: inherit;
box-sizing: inherit;
}

/* ==========================================================================
#RESET
========================================================================== */
/**
* A very simple reset that sits on top of Normalize.css.
*/
body,
h1, h2, h3, h4, h5, h6,
blockquote, p, pre,
dl, dd, ol, ul,
figure,
hr,
fieldset, legend {
margin: 0;
padding: 0;
}

/**
* Remove trailing margins from nested lists.
*/
li > ol,
li > ul {
margin-bottom: 0;
}

/**
* Remove default table spacing.
*/
table {
border-collapse: collapse;
border-spacing: 0;
}

/**
* 1. Reset Chrome and Firefox behaviour which sets a `min-width: min-content;`
*    on fieldsets.
*/
fieldset {
min-width: 0;
/* [1] */
border: 0;
}

button {
outline: none;
background: none;
border: none;
}

/* ==========================================================================
#PAGE WRAPPER
========================================================================== */
.page-wrapper {
min-height: 100vh;
}

body {
font-family: "Roboto", "Arial", "Helvetica Neue", sans-serif;
font-weight: 400;
font-size: 14px;
}

h1, h2, h3, h4, h5, h6 {
font-weight: 400;
}

h1 {
font-size: 36px;
}

h2 {
font-size: 30px;
}

h3 {
font-size: 24px;
}

h4 {
font-size: 18px;
}

h5 {
font-size: 15px;
}

h6 {
font-size: 13px;
}

/* ==========================================================================
#BACKGROUND
========================================================================== */
.bg-blue {
background: #2c6ed5;
}

/* ==========================================================================
#SPACING
========================================================================== */
.p-t-100 {
padding-top: 100px;
}

.p-t-20 {
padding-top: 20px;
}

.p-b-100 {
padding-bottom: 100px;
}

/* ==========================================================================
#WRAPPER
========================================================================== */
.wrapper {
margin: 0 auto;
}

.wrapper--w680 {
max-width: 680px;
}

/* ==========================================================================
#BUTTON
========================================================================== */
.btn {
display: inline-block;
/* padding: 0 7px; */
cursor: pointer;
font-family: "Roboto", "Arial", "Helvetica Neue", sans-serif;
color: rgb(24, 25, 28);
-webkit-transition: all 0.4s ease;
-o-transition: all 0.4s ease;
-moz-transition: all 0.4s ease;
transition: all 0.4s ease;
font-size: 14px;
font-weight: 700;
}

.btn--radius {
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;
}

.btn--green {
background: #57b846;
}

.btn--green:hover {
background: #4dae3c;
}

/* ==========================================================================
#DATE PICKER
========================================================================== */
td.active {
background-color: #2c6ed5;
}

input[type="date" i] {
padding: 14px;
}

.table-condensed td, .table-condensed th {
font-size: 14px;
font-family: "Roboto", "Arial", "Helvetica Neue", sans-serif;
font-weight: 400;
}

.daterangepicker td {
width: 40px;
height: 30px;
}

.daterangepicker {
border: none;
-webkit-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
-moz-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
display: none;
border: 1px solid #e0e0e0;
margin-top: 5px;
}

.daterangepicker::after, .daterangepicker::before {
display: none;
}

.daterangepicker thead tr th {
padding: 10px 0;
}

.daterangepicker .table-condensed th select {
border: 1px solid #ccc;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;
font-size: 14px;
padding: 5px;
outline: none;
}

/* ==========================================================================
#FORM
========================================================================== */
input {
outline: none;
margin: 0;
border: none;
-webkit-box-shadow: none;
-moz-box-shadow: none;
box-shadow: none;
width: fit-content;
font-size: 14px;
font-family: inherit;
}

.input-group {
position: relative;
margin-bottom: 30px;
border-bottom: 2px solid #ccc;
}

.input-group input{
    width: 100%;
    padding-left: 10px;
}

.input-icon {
position: absolute;
font-size: 18px;
color: #ccc;
right: 8px;
top: 50%;
-webkit-transform: translateY(-50%);
-moz-transform: translateY(-50%);
-ms-transform: translateY(-50%);
-o-transform: translateY(-50%);
transform: translateY(-50%);
cursor: pointer;
}

.input--style-1 {
padding: 9px 0;
color: #666;
}
#select-details-block .input--style-1 {
    background-color: #d1f0d7;
    }

#select-details-block .input-group{
    border-bottom: 1px solid #707070!important;
    margin-bottom: 0px;
}
.input--style-1::-webkit-input-placeholder {
/* WebKit, Blink, Edge */
color: #555;
}

.input--style-1:-moz-placeholder {
/* Mozilla Firefox 4 to 18 */
color: #555;
opacity: 1;
}

.input--style-1::-moz-placeholder {
/* Mozilla Firefox 19+ */
color: #555;
opacity: 1;
}

.input--style-1:-ms-input-placeholder {
/* Internet Explorer 10-11 */
color: #555;
}

.input--style-1:-ms-input-placeholder {
/* Microsoft Edge */
color: #555;
}

/* ==========================================================================
#SELECT2
========================================================================== */
.select--no-search .select2-search {
display: none !important;
}

.rs-select2 .select2-container {
width: 100% !important;
outline: none;
}

.rs-select2 .select2-container .select2-selection--single {
outline: none;
border: none;
height: 34px;
}

.rs-select2 .select2-container .select2-selection--single .select2-selection__rendered {
line-height: 34px;
padding-left: 0;
color: #555;
}

.rs-select2 .select2-container .select2-selection--single .select2-selection__arrow {
height: 32px;
right: 4px;
display: -webkit-box;
display: -webkit-flex;
display: -moz-box;
display: -ms-flexbox;
display: flex;
-webkit-box-pack: center;
-webkit-justify-content: center;
-moz-box-pack: center;
-ms-flex-pack: center;
justify-content: center;
-webkit-box-align: center;
-webkit-align-items: center;
-moz-box-align: center;
-ms-flex-align: center;
align-items: center;
}

.rs-select2 .select2-container .select2-selection--single .select2-selection__arrow b {
display: none;
}

.rs-select2 .select2-container .select2-selection--single .select2-selection__arrow:after {
font-family: "Material-Design-Iconic-Font";
content: '\f2f9';
font-size: 18px;
color: #ccc;
-webkit-transition: all 0.4s ease;
-o-transition: all 0.4s ease;
-moz-transition: all 0.4s ease;
transition: all 0.4s ease;
}

.rs-select2 .select2-container.select2-container--open .select2-selection--single .select2-selection__arrow::after {
-webkit-transform: rotate(-180deg);
-moz-transform: rotate(-180deg);
-ms-transform: rotate(-180deg);
-o-transform: rotate(-180deg);
transform: rotate(-180deg);
}

.select2-container--open .select2-dropdown--below {
border: none;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;
-webkit-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
-moz-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
border: 1px solid #e0e0e0;
margin-top: 5px;
overflow: hidden;
}

/* ==========================================================================
#TITLE
========================================================================== */
.title {
margin-bottom: 37px;
}

/* ==========================================================================
#CARD
========================================================================== */
.card {
overflow: hidden;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;
background: #fff;
}

.card-1 {
-webkit-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
-moz-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
}

.card-1 .card-heading {
/* background: url("../images/bg-head-02.jpg") center center/cover no-repeat; */
padding-top: 210px;
}

.card-1 .card-body {
padding: 0 90px;
padding-top: 55px;
padding-bottom: 65px;
}

@media (max-width: 767px) {
.card-1 .card-body {
padding: 0 40px;
padding-top: 40px;
padding-bottom: 40px;
}
}
.prev_next_month_block{
    margin-top: 10px;
    display: block;
    width: 100%;
}
.prev_month_block{
    display: inline-block;
}
.next_month_block{
    display: inline-block;
    float: right;
}
.search-section label{
    padding: 7px;
    border-radius: 21px!important;
    background-color: #ededed;
    width: 29%;
    text-align: center;
    margin-bottom: 0px;
    color: #343434;

}
.search-section input, .search-section select{
    width: 68%;
    float: right;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 13px;
    font-weight: bold;
    color: gray;
    border-radius: 21px!important;
    border: solid 0px;
    box-shadow: 1px 1px 2px 0px #356c5a;
}
.search-section input{
    padding-left: 8px;
}
.search_form .search_btn{
    background-color: #356C5A;
    color: white!important;
    font-family: inherit;
    padding: 5px!important;
    font-weight: 300;
    border-radius: 21px;
    letter-spacing: 2px;
    width: 101%;
}
.edit_dlt_icon_class img{
    height: 17px;
}
.prev_next_month_block img{
    width: 11px;
    color: white;
}
.prev_next_month_block a{
    text-decoration: none;
    color: #ffffff;
}
.prev_next_month_block .btn{
    background-color: #107561;
    padding: 3px 7px;
    font-weight: 300;
}
.footer-reg-btn{
    margin-left: 15px;
    border-radius: 5px;
}
.menu-option-icons img{
    height: 40px;
    margin: 10px;
}
.menu-option-icons{
    display: flex;
    justify-content: center;
}
.menu-option-icons a{
    text-decoration: none;
    color: #1f4c3d;
    width: 100px;
    text-align: center;
}
.all_wallet_list{
    display: inline-block;
}
.all_wallet_list .single_wallet{
    display: inline-block;
    margin-right: 10px;
}
.all_wallet_list .single_wallet h5{
    font-size: 10px;
}
.all_wallet_list .single_wallet img{
    height: 40px; 
    width: 40px;
}
.add_new_wallet_btn{
    float: right;
}
.add_new_wallet_btn img{
    height: 23px; 
    width: 23px;
}
.wallet_edit input{
    height: 30px;
    padding: 5px;
    background-color: #ebe2c1;
    border-radius: 5px
}
.wallet_edit button{
    height: 30px;
    padding: 5px;
    background-color: #ebe2c1;
    border-radius: 5px
}
