{% extends 'base.html' %}

{% block title %}
MANAGE YOUR ACCOUNT
{% endblock %}

{% block content %}

<div class="row d-flex justify-content-center home-content">
    <div class="col-lg-10 col-md-10 home-text">
        <h1 class="text-uppercase text-center welcome-text"> Welcome To </h1>
        <h1 class="text-uppercase text-center company-text">COST MANAGEMENT</h1>
    </div>
</div>

{% endblock %}