<div>
    <span>
      {% if pagination_data_list.has_previous %}
        <a href="?page={{ pagination_data_list.previous_page_number }}"><<< Previous</a>
      {% endif %}
      <span>
        Page {{ pagination_data_list.number }} of {{ pagination_data_list.paginator.num_pages }}.
      </span>
      {% if pagination_data_list.has_next %}
        <a href="?page={{ pagination_data_list.next_page_number }}">Next >>></a>
      {% endif %}
    </span>
  </div>