{% extends 'user_base.html' %}
{% block title %}
    EDIT COSTS
{% endblock %}

{% block content %}

<div class="create_data_from_div content-wrapper" id="income-form-block">
    <!-- Content Header (Page header) -->
    <div class="page-wrapper p-t-100 p-b-100 font-robo">
      <div class="wrapper wrapper--w680">
          <div class="card card-1">
              <div class="card-body">
                <!-- <div class="col-lg-12 col-md-12 col-12 justify-content-end p-0">
                  <a class="btn btn-standard text-dark py-1 px-5 float-right col-lg-4 col-md-4" onclick="show_income_list()">My income List</a>
                </div> -->
                  <h3 class="title">EDIT COST</h3>
                    <form method="POST">
                    {% csrf_token %}

                    <div id="new-entry-block" class="p-3">
                        <p class="font-weight-bold">Please input new cost related information</p>
                        <div class="input-group">
                        <p>Ex: House Rent</p>
                            <input class="input--style-1" type="text" placeholder="{{ this_cost_related_data.short_info }}" value="{{ this_cost_related_data.short_info }}" name="short_info">
                        </div>
                        <!-- <div class="input-group">
                        <p>Ex: House Rent</p>
                        <input class="input--style-1" type="text" placeholder="{{ this_cost_related_data.short_description }}" name="short_description">
                        </div>
                        <div class="input-group">
                        <p>Ex: House Rent</p>
                        <input class="input--style-1" type="text" placeholder="{{ this_cost_related_data.cost_field }}" name="cost_field">
                        </div> -->
                    </div>


                    <div id="entry-cost-amount" class="p-3">
                        <br>
                        <p class="font-weight-bold">Please enter your cost amount and date</p>
                        <br>
                        <div class="input-group">
                        
                        <input class="input--style-1" type="text" placeholder="{{ this_cost_data.amount }}" value="{{ this_cost_data.amount }}" name="amount" required>
                        </div>
                        <div class="input-group">
                        
                        <input class="input--style-1" type="text" placeholder="{{ this_cost_data.description }}" value="{{ this_cost_data.description }}" name="description">
                        </div>
                        
                        <div class="input-group">
                        
                            <input id="datepicker" class="input--style-1" type="text" onclick="(this.type='date')" onfocus="(this.type='date')" placeholder="{{ this_cost_data.cost_date }}"  name="cost_date" required>
                        </div>
                        <div class="p-t-20">
                            <button class="btn btn--radius" type="submit">Submit</button>
                        </div>
                    </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}